body {
    font-family: Arial, sans-serif;
    background-color: #ded5fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #c2aaeb;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(91, 89, 89, 0.1);
}

h1 {
    font-size: 5em;
    color: #f7755b;
}

p {
    font-size: 1.2em;
    color: #555;
}